In [15]:
#On crée une fonction pour récupérer les bases de données grâce à l'API de la sncf
import requests
import pandas as pd

def recup_base(ident) :
    #req = requests.get('https://ressources.data.sncf.com/api/v2/catalog/datasets/enquetes-gares-connexions-repartition-homme-femme/exports/json?where=date_format%28annee%2C%27YYYY%27%29%20%3D%20%272017%27&limit=-1&offset=0&timezone=UTC')
    req = requests.get('https://ressources.data.sncf.com/api/v2/catalog/datasets/'+ident+'/exports/json?limit=-1&offset=0&timezone=UTC')
    wb = req.json()
    wb = pd.json_normalize(wb)
    return(wb)

,uic,gare_enquetee,gpe_intermodalites_usagers,pourcentage,annee
0,113001,Paris Est,Voiture conducteur,1,2012
1,None,Paris Bercy,Taxis,4,2012
2,411017,Rouen Rive Droite,Voiture conducteur,6,2014
3,444877,Cherbourg,Bus/Car/Navette,11,2015
4,444000,Caen,2 roues motorisées,0,2012
...,...,...,...,...,...
453,319012,Aix en Provence-TGV,Bus/Car/Navette,20,2015
454,300863,Besançon Franche-Comté TGV,Marche,16,2015
455,444877,Cherbourg,Voiture conducteur,23,2015
456,444000,Caen,Bus/Car/Navette,12,2012
457,444877,Cherbourg,Vélo,3,2015

In [16]:
#On importe les bases de données nécessaires à notre étude
mode_acces=recup_base('repartition-de-lutilisation-des-moyens-dacces-ou-de-diffusion-a-la-gare-enquetes')
motif_dep=recup_base('repartition-des-motifs-de-deplacements-des-voyageurs-et-non-voyageurs-enquetes-e')
distance_parcourue=recup_base('distance-parcourue')
freq_gare=recup_base('frequence-gare')
intermodalite = recup_base('intermodalite')
wifi=recup_base('gares-equipees-du-wifi')
travaux=recup_base('travaux-dans-les-grandes-gares') #secondaire
temps_prec=recup_base('temps-de-precaution-en-gare')
type_clients=recup_base('types-de-clients-dans-les-gares') #secondaire
csp_voyageurs=recup_base('enquetes-gares-connexions-repartition-par-repartition-par-categories-socio-profe')
age_voyageurs=recup_base('enquetes-gares-connexions-repartition-repartition-par-classe-dage')
genre_voyageurs=recup_base('enquetes-gares-connexions-repartition-homme-femme')

        uic                gare_enquetee sexe  pourcentage annee
0    747006                     Grenoble    H           47  2015
1    723197               Lyon Part Dieu    H           50  2011
2    223263                 Lille Europe    H           57  2013
3    478404                        Laval    F           50  2011
4    571000                        Tours    F           48  2016
..      ...                          ...  ...          ...   ...
101  762906       Lyon Saint Exupery TGV    H           63  2016
102  763029  Valence TGV Rhône-Alpes Sud    H           54  2015
103  113001                    Paris Est    H           47  2012
104  575001                     Poitiers    F           44  2015
105  118000                       Troyes    H           49  2015

[106 rows x 5 columns]